body {background-color: #CCFFFF
	}
p {text-indent: 25px;
        }
.linK {
	display: inline-block;	
	padding: 5 px 15 px;
	text-decoration: none;
	color: #000;
	}
.linK:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3):
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
	color: #a00;
	}






