body {background-color: #E0FFFF
	}
p {text-indent: 25px;
        }
.pad { padding: 0px;
	}
.but { background-color: #87CEEB;
	color: #800080;
	width: 17%;
	height: 90px;
	}
.but:hover { color: #8B008B;
	background-color: #ADD8E6;
	}
.linK {
	display: inline-block;	
	padding: 5 px 15 px;
	text-decoration: none;
	color: #4169E1;
	}
.linK:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3):
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
	color: #a00;
	}
.block {height: 97.5px;
	}
.IMG { height: 40px;
	width: 80%;
	}
.q { height: 100%;
	}








